<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Map and Flask</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="map"></div>
    <div class="controls">
        <select id="saved-maps">
            <option value="">Select a saved map</option>
            {% for map in maps %}
                <option value="{{ map.id }}">{{ map.name }}</option>
            {% endfor %}
        </select>
        <button id="save-map">Save Map</button>
        <button id="load-map">Load Map</button>
        <button id="add-tiff">Add GeoTIFF Layer</button>

    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>´
    <!-- TIF file decoders -->
    <script src="https://unpkg.com/georaster"></script>
    <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
    <!-- PapaParse pluggin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- Jquery pluggin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/geotiff"></script>
    <script src="/static/leaflet-geotiff.js"></script>
    <!-- Load any renderer you need -->
    <script src="/static/leaflet-geotiff-plotty.js"></script>
    <script src="/static/leaflet-geotiff-vector.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>
